/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_dark {
    --accent-color: #ff0070;
    --accent-text-color: #000028;
    --title-color: #db00ff;
    --regular-text-color: #f1b2ce;
    --background-color: #00183F;
    --font-weight-bald: 700;
    --font-weight-regular: 400;
    --font-size: 18px;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Дублируем переменные светлой темы */
        --accent-color: #ff0070;
        --accent-text-color: #000028;
        --title-color: #db00ff;
        --regular-text-color: #f1b2ce;
        --background-color: #00183F;
        --font-weight-bald: 700;
        --font-weight-regular: 400;
        --font-size: 18px;
    }

}

.page.theme_dark {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    background: url("../images/cover-image-dark.png") var(--background-color) no-repeat center / cover fixed;
}

.decorated-zone {
    display: grid;
    background: url("../images/cover-image-dark.png") no-repeat center / cover;
    grid-template-rows: 1fr max-content 1fr;
}

.header__span-decoration {
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 38px;
    color: var(--accent-color);
}

.header__span-decoration::after {
    position: absolute;
    top: 7px;
    right: -18px;
    content: "";
    width: 9px;
    height: 9px;
    background: var(--accent-color);
    border-radius: 100%;
    box-shadow: 0 0 4px 2px var(--accent-color);
}

@media ( width >= 768px ) {
    .header__span-decoration {
        top: 20px;
        right: 48px;
    }
}
