:root .theme_light {
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --title-color: #ffc2e6;
    --regular-text-color: #353430;
    --font-weight-bald: 700;
    --font-weight-regular: 400;
    --font-size: 18px;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Дублируем переменные светлой темы */
        --accent-color: #ff8dcb;
        --accent-text-color: #353430;
        --title-color: #ffc2e6;
        --regular-text-color: #353430;
        --background-color: #FFF1F7;
        --font-weight-bald: 700;
        --font-weight-regular: 400;
        --font-size: 18px;
    }
}

.page.theme_light {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    background: url("../images/cover-image-light.png") var(--background-color) no-repeat center / cover fixed;
}

/*.theme_light .decorated-zone {
    background: url("../images/cover-image-light.png") no-repeat center / cover;
}*/

.theme_light .header__span-decoration {
    display: none;
}

.theme_light .header__span-decoration::after {
    display: none;
}

.theme_light .angles::after {
    border-right: 1px solid var(--accent-text-color);
    border-top: 1px solid var(--accent-text-color);
}

.theme_light .angles::before {
    border-left: 1px solid var(--accent-text-color);
    border-bottom: 1px solid var(--accent-text-color);
}

@media (prefers-color-scheme: light) {
    .page.theme_light {
        background: url("../images/cover-image-light.png") var(--background-color) no-repeat center / cover fixed;
    }

    /*.theme_light .decorated-zone {
        background: url("../images/cover-image-light.png") no-repeat center / cover;
    }*/

    .theme_light .header__span-decoration {
        display: none;
    }

    .theme_light .header__span-decoration::after {
        display: none;
    }

    .theme_light .angles::after {
        border-right: 1px solid var(--accent-text-color);
        border-top: 1px solid var(--accent-text-color);
    }

    .theme_light .angles::before {
        border-left: 1px solid var(--accent-text-color);
        border-bottom: 1px solid var(--accent-text-color);
    }
}


